*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans',
    sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.568), rgba(4, 9, 30, 0.925)),url(./images/Untitled.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    background-color:rgba(24, 29, 46, 0.61);
    height: 8px;
    display: flex;
    padding: 2% 0%;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    z-index: 3;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);


}
.sticky {
    position:fixed;
    top: 0;
    width: 100%;
}

nav h2{
    color: rgb(212, 213, 236);
    padding: 3%;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.507),
    -3px -3px 5px rgba(0, 0, 0, 0.507);
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-link ul li a{
    color: #fff;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.507),
    -3px -3px 5px rgba(0, 0, 0, 0.507);
    text-decoration: none;
    font-size: 15px;
}
.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:rgba(4, 9, 30, 0.568);
    display: block;
    margin: auto;
    transition: 0.2s ;
}
.nav-link ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.123), -5px -5px 5px rgba(0, 0, 0, 0.123);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
}

nav .fa{
    display: none;
}

.showcase{
    min-height: 45vh;
    width: 100%;
    background-color:rgba(4, 9, 30, 0.925);
    background-position: center;
    background-size: cover;
    position: relative;
}
.show-div h1 {
    color: #fff;
    text-align: center;
    padding: 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.123),
        -5px -5px 5px rgba(17, 15, 15, 0.123);
    font-size: 30px;
}

.show-div img {
    border-radius: 20px;
    width: 250px;
    margin: 20px;
    transition: 70ms;
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.534);
}

.show-div img:hover {
    width: 280px;
    transition: 120ms;
    margin: 10px;
}

.about {
    background-color: rgb(31, 33, 49);
    min-height: 150px;
}
.about h1 {
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.123),
    -5px -5px 5px rgba(17, 15, 15, 0.123);
    padding: 10px;
    font-size: 30px;
}
.about h2{
    color: #fff;
    text-align: center;
    padding: 0px 10%;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.123),
    -5px -5px 5px rgba(17, 15, 15, 0.123);
    font-size: 20px;
}
.about p{
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.123),
    -5px -5px 5px rgba(17, 15, 15, 0.123);
    padding: 5px 10%;
    font-size: 20px;
}

.about-texts{
    padding: 0% 100%;
}
.about div{
    padding-left: 0%;
}
.contact {
    background-color: rgb(19, 20, 29);
    min-height: 200%;
}

.contact h1{
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.123),
    -5px -5px 5px rgba(17, 15, 15, 0.123);
    padding: 0px 10%;
    text-align: center;
    font-size: 200%;
}
.contact p{
    color: #fff;
    margin: auto;
    font-size: 130%;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.123),
    -5px -5px 5px rgba(17, 15, 15, 0.123);
    padding: 0.3% 10%;
    text-align: center;
}
.cpyr {
    background-color: rgb(16, 17, 22);
    min-height: 70px;
}
.cpyr h1{
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.123),
    -5px -5px 5px rgba(17, 15, 15, 0.123);
    padding: 30px 0%;
    text-align: center;
    font-size: 20px;
}

@media(min-width: 600px){
    nav{
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
}

@media screen {
    html {
        scroll-behavior: smooth;
    }
}

@media(max-width: 600px) {
    html,
    body {
        overflow-x: hidden;
    }

    nav{
        height: 30px;
    }

    .text-box h1 {
        font-size: 40px;
    }
    .nav-link ul li {
        display: block;
    }
    .nav-link {
        position: fixed;
        background: rgba(24, 29, 46, 0.61);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        z-index: 4;
        text-align: left;
        transition: 0.5s;
    }
    .nav-link ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 25px;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .showcase{
        min-height: 40vh;
        width: 100%;
        background-color:rgba(4, 9, 30, 0.925);
        background-position: center;
        background-size: cover;
        position: relative;
    }

    .nav-link  ul {
        padding: 30px;
    }
    .about h1 {
        color: #fff;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.123),
            -5px -5px 5px rgba(17, 15, 15, 0.123);
        font-size: 30px;
    }
    
    .about h2 {
        color: #fff;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.123),
            -5px -5px 5px rgba(17, 15, 15, 0.123);
        font-size: 20px;
    }
    
    .about p {
        color: #fff;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.123),
            -5px -5px 5px rgba(17, 15, 15, 0.123);
        font-size: 15px;
    }

    .show-div h1 {
        color: #fff;
        text-align: center;
        padding: 20px;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.123),
            -5px -5px 5px rgba(17, 15, 15, 0.123);
        font-size: 30px;
    }
    
    .show-div img {
        border-radius: 20px;
        width: 120px;
        margin: 20px;
        transition: 70ms;
        box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.534);
    }

    .show-div img:hover {
        width: 130px;
        transition: 120ms;
        margin: 15px;
    }
    
    .contact {
        background-color: rgb(19, 20, 29);
        min-height: 200%;
    }
    
    .contact h1{
        color: #fff;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.123),
        -5px -5px 5px rgba(17, 15, 15, 0.123);
        padding: 10px 10%;
        text-align: center;
        font-size: 160%;
    }
    .contact p{
        color: #fff;
        margin: auto;
        font-size: 100%;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.123),
        -5px -5px 5px rgba(17, 15, 15, 0.123);
        padding: 3px 10%;
        text-align: center;
    }

}
